<div class="container">
  <div class="input-container">
    <input type="text" placeholder="Search Film" />
  </div>

  <button type="button" class="reload-button">Reload</button>
  <div class="film-gallery">
    @for(film of films; track film.title) {
    <section class="film-card">
      <div class="film-card-details">
        <h2>{{ film.title }}</h2>
        <p>
          <strong>Release Date: </strong>{{ film.release_date | filmAppDate }}
        </p>
        <p><strong>Director: </strong>{{ film.director }}</p>
        <p><strong>Producer: </strong>{{ film.producer }}</p>
        <p><strong>Characters: </strong>{{ film.characters.length }}</p>
        <p><strong>Description: </strong>{{ film.opening_crawl }}</p>
        <p><strong>Planets: </strong>{{ film.characters.length }}</p>
      </div>
    </section>
    }
  </div>
</div>
